[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow = "*"
sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
